/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .nav-list {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        float: right;
        height: 100vh;
        width: 65vw;
        max-width: 500px;
        padding: 100px 0 0 50px;
        line-height: 3;
        background-color: white;
        box-shadow: -2px 0px 1px 0px rgba(140,140,140,0.5);
        pointer-events: all;
        margin-right: -68vw;
        transition: transform 0.5s ease;
    }

    .nav-list.slide-in {
        transform: translateX(-68vw);
    }

    .about {
        padding: 20px;
    }

    .about.portfolio {
        margin-top: 40px;
    }

    .drawing {
        width: 100%;
        min-width: 0;
        overflow: hidden;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .drawing svg {
        margin-left: -10%;
        width: 120%;
    }

    .heading-art,
    .heading-projects {
        height: 450px;
    }
    .projects h1,
    .art h1 {
        margin-top: 75px;
    }

    .heading-art .drawing,
    .heading-projects .drawing {
        width: 100%;
        transform: none;
        min-width: 0;
        margin-top: -30px;
        margin-bottom: 0;
    }
}