.heading-projects {
    width: 100vw;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(360deg, #BBD8F2, #9CC9F1);
    overflow: hidden;
}

.drawing {
    justify-content: end;
    max-width: 800px;
    min-width: 600px;
    width: 50%;
    transform: translateY(-12%);
}

.projects {
    margin-top: 70px;
}

.projects h1 {
    font-size: 4.5rem;
}

.project-portfolio-header {
    margin-top: 70px;
    margin-bottom: -50px;
    padding: 0;
}

.project-portfolio {
    margin-bottom: 20px;
}

.project-container {
    max-width: 1000px;
    margin: auto;
    margin-top: 120px;
    padding-bottom: 50px;
    text-align: center;
}

.project-container img {
    width: 350px;
}

.jiffy-img {
    margin-bottom: 100px;
}

.good-times a,
.super-shapes a,
.fifty-festival a,
.jiffy a {
    text-decoration: none;
    color: #484848;
}

.good-times a:hover,
.super-shapes a:hover,
.fifty-festival a:hover,
.jiffy a:hover {
    color: #EC7162;
}