body {
    background-color: black;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    padding-top: 5vh;
    padding: 5vh 3vw;
    /* our body tag is per default only as tall as it's content
    sp here we stretch it out (min-height) */
    min-height: 100vh;
    /* here we enable flexbox, which stacks our boxes
     side by side by default */
    display: flex;
    /* here we tell our boxes to stack on top of each other */
    flex-direction: column;
    /* here we tell our boxes to stretch out and fill the available 
    space, and create the gaps between them */
    justify-content: space-between;

}

.top,
.middle,
.indicators {

    text-align: center;
    position: relative;

}

input {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    text-align: center;
}

.search-input {
    font-size: 72px;
    color: white;
}

/* this styles up our placeholder text on our input */
.search-input::placeholder {
    color: #323232;
}

.search-clear,
.spinner {
    transition: opacity 0.5s ease;
    opacity: 0;
}

.search-clear {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.title {
    position: relative;
    z-index: 1;
}

.videos,
.middle,
.grid {
    display: grid;
    place-items: center;
}

.video {
    grid-area: 1/1;
    max-width: 500px;
    max-height: 500px;
    display: block;
}

.search-input,
.videos,
.full-area {
    grid-area: 1/1;
}

.search-hint,
.spinner {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.show-hint .search-hint,
.loading .spinner,
.has-results .search-clear {
    opacity: 1;
}

.loading .search-hint,
.has-results .title {
    opacity: 0;
}

.title {
    transition: opacity 0.5s ease;
}


/* responsive styles below */
.video {
    width: 100%;
}

.videos {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
}

.search-input {
    width: 94vw;
    line-height: 1;
    height: 88px;
}

@media (max-width: 480px) {

    body {
        font-size: 18px;
    }

    .search-input {
        font-size: 32px;
    }

}
